beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
docopt==0.6.2
lxml==4.6.2
numpy==1.19.4
opencv-python==4.4.0.46
Pillow==8.0.1
scipy==1.5.4
six==1.15.0
soupsieve==2.1
torch==1.7.1
tqdm==4.55.0
typing-extensions==3.7.4.3
